.home-bg {
  background: url("../statics/login.png") no-repeat center center;
  background-size: cover;
}

.boundle-bg{
  background: url("../statics/yq.png") no-repeat center center;
  background-size: cover;
}
